p {
  font-family: Arial;
}

.header-section {
  background-color: rgb(68, 80, 97);
}

.header {
  color: white;
  font-weight: bold;
  margin-left: 200px;
  font-size: 20px;
}

.header-links p {
  color: white;
  font-size: 15px;
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 80px;
  font-size: 11px;
  align-items: center;
  margin-right: 380px;
}
.header-link:hover {
  color: rgb(255, 102, 0);
}
.header-link:active {
  color: rgb(94, 128, 0);
}
.header-links:hover {
  cursor: pointer;
}

.website-intro  p, h1{
  color: white;
  font-family: Arial;
    
}
.website-intro {
  padding-bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-intro-text {
  width: 250px;
  margin-left: 200px;
   
}
h1 {
  margin-top: 30px;
  margin-bottom: 0;
}
.description {
  font-size: 20px;
  width: 400px;
  margin-top: 0;
}
.sign-up-button {
  background-color: rgb(31, 110, 228);
  border: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.sign-up-button:hover {
  background-color: orange;
  
}
.sign-up-button:active {
  background-color: rgb(255, 102, 0);
}
.page-picture {
  width: 500px;
  margin-right: 270px;
  margin-top: 20px;
  border: solid;
  border-color:rgb(255, 102, 0);
  border-radius: 5px;
}

.logo-item {
  width: 120px;
  margin-top: 20px;
  border-radius: 60px;
}

h3 {
  font-family: Dancing Script;
  font-size: 50px;
  color: rgb(241, 80, 16);
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 60px;
}
.first-image,
.second-image,
.third-image,
.fourth-image {
  width: 200px;
  height: 200px;
}


.categories {
  display: flex;
  justify-content: center;
  gap: 200px;
  font-style: italic;
  font-weight: bold;
}

.category {
  border: solid;
  border-color: rgb(255, 102, 0);
  border-width: 4px;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin-bottom: 80px;
}
.category:hover {
  border-color: rgb(255, 0, 0);
  border-width: 4.1px;
  cursor: pointer;
}


.finger-pick {
  margin-top: 20px;
}

.music-theory {
  margin-top: 18px;
  margin-left: 48px;
}

.strumming-technique {
  margin-left: 12px;
}

.master-your-instrument {
  margin-left: 10px;
}

.guitar-quote {
  font-style: italic;
  margin-left: 150px;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.quote-author {
  margin-left: 1446px;
  font-weight: bold;
  display: flex;
}

.background {
  background-color: rgb(223, 221, 221);
  padding-top: 90px;
  padding-bottom: 40px;
}

.call-to-action {
  color: white;
  align-items: center;
  justify-content: center;
}

.sign-up-invite {
  background-color: rgba(13, 99, 212, 0.781);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 80px;
  border-radius: 5px;
  gap: 250px;
}

.call-to-action-text {
  font-size: 20px;
  margin-bottom: 5px;
}

.italic-text {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.sign-up-button2 {
  background-color: rgba(13, 99, 212, 0.781);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  border: solid;
  color: white;
  border-width: 2px;
}

.sign-up-text {
  margin-top: 0;
}

.sign-up-button2:hover {
  background-color: orange;
  cursor: pointer;
  border-color: rgb(67, 167, 67);
}
.sign-up-button2:active {
  background-color: rgb(94, 128, 0);
  border-color: orange;
}
.footer-section {
  background-color: rgb(68, 80, 97);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.copyright-text {
  color: white;
}